<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	
	
	<connectionStrings>
		<add name="EmployeesDB"
      connectionString="Server=lochnagar.abertay.ac.uk;Database=sql2303216;User Id=sql2303216;Password=fancy sons prayer mystery;"
		providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>


	

	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>

